# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\user\Git-Hub\Finacial-Calculator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
